/* 
colors:
#74CCFF - light blue
#CDDF5A - green
#1793D9 - dark blue
#CFBDA1 - brown
*/




/*Navigation code*/
.inline-block{
    padding: 10px;
}
.inline-block ul{
    padding: 10px;
    text-align: right;
}
.inline-block li{
    color: black;
    margin: 5px;
    list-style-type: none;
    display: inline-block;
}
.inline-block a{
    color: black;
    text-decoration: none;
}
/*--------------------------------------------------*/

/* Hero Image Code*/
.heroImg{
 height: 600px;
 padding: 25px;
}
.content{
    width:500px;
    margin: 0 auto;
}

/*--------------------------------------------------*/

/* Footer Code*/
footer{
    background-color:#CFBDA1;
}

footer ul{
    padding: 10px;
    text-align: center;
}
footer li{
    color: black;
    margin: 5px;
    list-style-type: none;
    display: inline-block;
}
footer a{
    color:black;
    text-decoration: none;
}
/*---------------------------------------------------*/

/* Style MY UX Skills Section*/

.flexContainer{
    display:flex;

}
